click==7.1.2
colorama==0.4.4
fastapi==0.65.2
h11==0.12.0
pydantic==1.8.2
python-dotenv==0.15.0
python-multipart==0.0.5
PyYAML==5.4
six==1.15.0
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.13.3
watchgod==0.6
websockets==9.1
